		*{
  	box-sizing: border-box;
  	-moz-box-sizing: border-box;

	}
	body{
	  font-family: Verdana, Geneva, sans sarif;
	 width:100%;
	margin:0px;
	padding-left:5%;
	padding-right:5%;
	background:#eee;
	
	}
	body main{

		background:#FFF;
		float:left;
		
	}
	header{
		background:#FFF;
		
	
	}
	a{
	  text-decoration:none;
	}
	.nav-bar{
	
	  background-color: #59B549;
	

	}
	.nav-hold{
		
	  display:block;
	  width: 90%;
	}
	.nav-logo{
	  float: left;
	  display: block;
	  padding: 20px 0px 20px 20px;
	  font-weight: 600;
	}
	.nav-logo a{
	  color: #FFFFFF;
	}
	.nav-items{
	  float: right
	}
	.nav-items li{
	  display:block;
	  float: left;
	  padding: 5px 10px;
	  margin-left:10px;
	}
	.nav-items li a {
	  color: #FFFFFF;
	}
	.nav-items li:hover {
	  background-color:  #59B549;
	  border-left:2px solid #FFFFFF;
	  border-right:2px solid #FFFFFF;
	}
	.nav-hold{
	  overflow:hidden;
	}
	.nav-menu{
	  display: none;
	}
	.footer{
		font-size: 12px;
 	 position: fixed;
 	 bottom: 0;
  	left: 0;
  	height: 20px;
 	 background-color: white;
  	width: 100%;
	border-left:1px solid #59B549;
	  border-right:1px solid #59B549;
	  border-top:1px solid #59B549;
	}

#ContenedorCuerpo{

		background:#fff;
		width:100%;
		height:100%;
		left:15%;
		z-index:-2;


	}


	/*media Queries*/
	@media screen and (max-width: 768px){
		.nav-menu{
		  display: block;
		  float: right;
		  width: 100%;
		  padding: 5px;
		  cursor: pointer;
		  color: white;
		}
		.nav-items{
		  width: 100%;
		  float: left;
		  height: 0px;
		  padding:0px;
		  margin:0px;
		  
		}
		.nav-items li{
		  width: 100%;
		  display: block;
		}  
	}
	.nav-open{
		height: auto;
	}
	