				*{
  	box-sizing: border-box;
  	-moz-box-sizing: border-box;

	}
	body{
	  font-family: Verdana, Geneva, sans sarif;
	 width:100%;
	margin:0px;
	padding-left:5%;
	padding-right:5%;
	background:#eee;
	float: left;
	 
	
	}
	body main{

		background:#FFF;
		float:left;
		
	}
	header{
		background:#FFf;
		
	
	}
	a{
	  text-decoration:none;
	}
	.nav-bar{
	
	  background-color: #238276;
	

	}
	.nav-hold{
		
	  display:block;
	  width: 90%;
	}
	.nav-logo{
	  float: left;
	  display: block;
	  padding: 20px 0px 20px 20px;
	  font-weight: 600;
	}
	.nav-logo a{
	  color: #FFFFFF;
	}
	.nav-items{
	  float: right
	}
	.nav-items li {
	  display:block;
	  float: left;
	  padding: 5px 10px;
	  margin-left:10px;
	}
	.nav-items li a {
	  color: #FFFFFF;
	}
	.nav-items li:hover {
	  background-color:  #238276;
	  border-left:2px solid #FFFFFF;
	  border-right:2px solid #FFFFFF;

	}
	.nav-hold{
	  overflow:hidden;
	}
	.nav-menu{
	  display: none;
	}
	.footer{
		font-size: 12px;
 	 position: fixed;
 	 bottom: 0;
  	left: 0;
  	height: 20px;
 	 background-color: white;
  	width: 100%;
	border-left:1px solid #59B549;
	  border-right:1px solid #59B549;
	  border-top:1px solid #59B549;
	}

#ContenedorCuerpo{

		background:#fff;
		width:100%;
		height:100%;
		left:15%;
		z-index:-2;


	}


	/*media Queries*/
	@media screen and (max-width: 768px){
		.nav-menu{
		  display: block;
		  float: right;
		  width: 100%;
		  padding: 5px;
		  cursor: pointer;
		  color: white;
		}
		.nav-items{
		  width: 100%;
		  float: left;
		  height: 0px;
		  padding:0px;
		  margin:0px;
		  
		}
		.nav-items li{
		  width: 100%;
		  display: block;
		}  
	}
	.nav-open{
		height: auto;
	}
	@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 200px;
  padding: 5% 0 0;
    width: 100%;
  height: 5%;
  margin: auto;
          border-radius:10px; 
-moz-border-radius:10px; /* Firefox */ 
-webkit-border-radius:10px; /* Safari y Chrome */
 border: 1px solid: #000000;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.35);

}
.form input, select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid white;
  margin: 0 0 12px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 10px;

}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #238276;
  width: 100%;
  border: 1px solid white;
  padding: 10px;
  color: #FFFFFF;
  font-size: 10px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
        border-radius:5px; 
-moz-border-radius:5px; /* Firefox */ 
-webkit-border-radius:5px; /* Safari y Chrome */
}
.form button:hover,.form button:active,.form button:focus,.form input:hover,.form input:active,.form input:focus,.form select:hover,.form select:active,.form select:focus {
  border:1px solid #CCCCCC;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 200px;
  margin: 0 auto;
  border: 1px solid: black;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}





/*instructor*/


.formIns input, select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 49.2%;
  border: 1px solid white;
  margin: 0 0 10px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
    border:1px solid #ddd;

}
.formIns div {
	color: #38B053;

	width: 100%;
	 font-family: "Roboto", sans-serif;
size: 14px;

	

}
.formIns button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #238276;
  width: 100%;
  border: 1px solid white;
  padding: 10px;
  color: #FFFFFF;
  font-size: 10px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
        border-radius:5px; 
-moz-border-radius:5px; /* Firefox */ 
-webkit-border-radius:5px; /* Safari y Chrome */
}
.formIns button:hover,.formIns button:active,.formIns button:focus,.formIns input:hover,.formInsinput:active,.formInsinput:focus,.formIns select:hover,.formIns select:active,.formIns select:focus {
  border:1px solid #bbb;
}

.formIns .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;		
}
.formIns .message a {
  color: #4CAF50;
  text-decoration: none;
}


.RegInstructor  {

	text-align: left;
}

main td
{
	width: 50%;
	border: #ccc 2px solid;
	padding: 1%;

}

select
{
color: #9B9898;
}
